  <footer>
  <div class="container-fluid" style = "display: flex; justify-content: center">
    <a href="#" class = "footer"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
    <a href="#" class = "footer"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="#" class = "footer"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="#" class = "footer"><i class="fa fa-medium" aria-hidden="true"></i></a>
    <a href="#" class = "footer"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  </div>
  </footer>
